@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

.missions-table {
  margin-top: 20px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.mission-name {
  width: 10%;
  font-weight: bold;
  font-size: 1.2rem;
}

.mission-description {
  width: 70%;
  font-size: 1rem;
  justify-items: center;
}

.mission-status {
  width: 10%;
}

td,
th {
  border: 1px solid rgb(169, 169, 169);
  padding: 1%;
}

thead th {
  padding: 10px;
  text-align: left;
}

.missions-tbody tr:nth-child(odd) {
  background-color: lightgray;
}

.active-member-btn {
  background-color: #18a2b8;
  border-color: #18a2b8;
}
